
<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
    <title>Document</title>
</head>

<body>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxbfRho7MaYY1gJubher-mQ8OuDCE_J5bR5Q&usqp=CAU/comics/<%= comics._id%>/edit"  alt="...">
   <form action="/comics/<%= comics._id %>?_method=PUT" method="POST">
    <input type="text" name="name" value="<%= comics.name%>">
    <input type="text" name="author" value="<%= comics.author %> " placeholder="Enter Author Name">
    <input type="datetime-local" name="date">
    <button class="btn btn-danger">Change Comic</button>
    </form>
   </form>
        
</body>
</html>
<%- include('../partials/footer') %>




