
<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
    <title>Document</title>
</head>

<body>
   <form action="/comics/<%= comics._id %>?_method=PUT" method="POST">
    <input type="text" name="name" value="<%= comics.name%>">
    <input type="text" name="author" placeholder="Enter Author Name">
    <input type="datetime-local" name="date">
    <button>Change Comic</button>
    </form>
   </form>
        
</body>
</html>
<%- include('../partials/footer') %>




