<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main id="swup" class="transition-fade"> 
<body>
  <% if (comics) { %> 
    <img src="images.jpg" alt="">
    <form action="/comics" method="POST">
      <input type="text" name="name" placeholder="Enter Comic Name">
      <input type="text" name="author" placeholder="Enter Author Name">
      <input type="datetime-local" name="released">
    <br>
      <button type="submit" class="btn btn-danger"> new comic button</button>
      </form>
      <% comics.forEach(comics => { %>
        <% let Random = new Array("public/images/omg.jpg") %> 
        <div class="card" style="width: 40rem;">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxbfRho7MaYY1gJubher-mQ8OuDCE_J5bR5Q&usqp=CAU/comics/<%= comics._id%>/edit" class="card-img-top" alt="...">
          
            <p class="card-text"> </p>
            <h5 class="card-title"><a href="/comics/<%= comics._id%>/edit"><%= comics.name %> </a></h5>
            <p>
              <a class="btn btn-danger" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Infromation
              </a>
              </p>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
            
                Writen By: <%= comics.author %><br>
                Released: <%= comics.released %> 
                <form action="/comics/<%= comics._id%>?_method=DELETE" method="POST">
                  <button type="submit"  class="btn  btn-sm btn-outline-danger">X</button>
                  </form>
                </form>
              </div>
            </div>
       <% }) %>
  <% } else {%>
    <h2>no comics are rendering</h2>
  <%  }%> 
  </body>
  </main>
</html>
<%- include('../partials/footer') %>